<!DOCTYPE html>
<html lang="en">

<head> {{>META}}
    <title> My Unreact App </title>
    {{!-- Icon in public folder --}}
    {{>ICON name="icon.png"}}
    {{!-- Boilerplate styles --}}
    {{>CSS name="boilerplate"}}
</head>

<body>

    {{!-- Rest of document --}}
    {{>@partial-block}}

</body>

</html>