{{#>boilerplate}}

<main>

    <h1>My Unreact App</h1>

    <p>
        This app was made using <a href="https://github.com/darccyy/unreact-template">Unreact Template</a>
    </p>

    <p>
        Secret message: <em> '{{secret}}' </em>
    </p>

    <p>
        <a href="{{URL}}not/a/real/path"> 404 Example </a>
    </p>

    <br />

    <img src="{{URL}}public/icon.png" alt="Unreact Icon" />

</main>

{{/boilerplate}}
