<!DOCTYPE html>
<html lang="en">

<head> {{>META}}
    <title> Unreact Template </title>
    {{!-- Icon in public folder --}}
    {{>ICON name="icon.png"}}
    {{!-- Global styles --}}
    {{>CSS name="global"}}
</head>

<body>

    {{!-- Rest of document --}}
    {{>@partial-block}}

</body>

</html>