<!DOCTYPE html>
<html lang="en">

<head>
  <title> Unreact Template </title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {{!--
  <link rel="shortcut icon" href="{{>URL}}/public/image/icon.png"> --}}

  {{!-- Global styles --}}
  {{>STYLE name="global"}}
</head>

<body>

  {{!-- Rest of document --}}
  {{>@partial-block}}

</body>

</html>