body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #111;
  color: white;

  a {
    color: inherit;
  }

  main {
    text-align: center;

    .list {
      padding: 0;
      list-style: none;
      line-height: 200%;
    }

    img {
      width: 200px;
      max-width: 100%;
      max-height: 100%;
    }
  }
}
